---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/orgs/workarea-commerce/repos?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token REDACTED
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1579982672'
      Etag:
      - W/"b854bf56f7b09c8073a69edbab71411b"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/organizations/50744828/repos?per_page=100&page=2>;
        rel="next", <https://api.github.com/organizations/50744828/repos?per_page=100&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":58654453,"node_id":"MDEwOlJlcG9zaXRvcnk1ODY1NDQ1Mw==","name":"jquery-unique-clone-rails","full_name":"workarea-commerce/jquery-unique-clone-rails","private":false,"owner":{"login":"workarea-commerce","id":50744828,"node_id":"MDEyOk9yZ2FuaXphdGlvbjUwNzQ0ODI4","avatar_url":"https://avatars2.githubusercontent.com/u/50744828?v=4","gravatar_id":"","url":"https://api.github.com/users/workarea-commerce","html_url":"https://github.com/workarea-commerce","followers_url":"https://api.github.com/users/workarea-commerce/followers","following_url":"https://api.github.com/users/workarea-commerce/following{/other_user}","gists_url":"https://api.github.com/users/workarea-commerce/gists{/gist_id}","starred_url":"https://api.github.com/users/workarea-commerce/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/workarea-commerce/subscriptions","organizations_url":"https://api.github.com/users/workarea-commerce/orgs","repos_url":"https://api.github.com/users/workarea-commerce/repos","events_url":"https://api.github.com/users/workarea-commerce/events{/privacy}","received_events_url":"https://api.github.com/users/workarea-commerce/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/workarea-commerce/jquery-unique-clone-rails","description":"A
        build of the jQuery Unique Clone Plugin packaged for the Rails asset pipeline.","fork":false,"url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails","forks_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/forks","keys_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/keys{/key_id}","collaborators_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/teams","hooks_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/hooks","issue_events_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/issues/events{/number}","events_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/events","assignees_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/assignees{/user}","branches_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/branches{/branch}","tags_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/tags","blobs_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/git/refs{/sha}","trees_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/git/trees{/sha}","statuses_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/statuses/{sha}","languages_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/languages","stargazers_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/stargazers","contributors_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/contributors","subscribers_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/subscribers","subscription_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/subscription","commits_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/commits{/sha}","git_commits_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/git/commits{/sha}","comments_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/comments{/number}","issue_comment_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/issues/comments{/number}","contents_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/contents/{+path}","compare_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/compare/{base}...{head}","merges_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/merges","archive_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/downloads","issues_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/issues{/number}","pulls_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/pulls{/number}","milestones_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/milestones{/number}","notifications_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/labels{/name}","releases_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/releases{/id}","deployments_url":"https://api.github.com/repos/workarea-commerce/jquery-unique-clone-rails/deployments","created_at":"2016-05-12T15:37:04Z","updated_at":"2019-08-19T16:12:27Z","pushed_at":"2016-05-12T15:37:26Z","git_url":"git://github.com/workarea-commerce/jquery-unique-clone-rails.git","ssh_url":"git@github.com:workarea-commerce/jquery-unique-clone-rails.git","clone_url":"https://github.com/workarea-commerce/jquery-unique-clone-rails.git","svn_url":"https://github.com/workarea-commerce/jquery-unique-clone-rails","homepage":null,"size":3,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":71284287,"node_id":"MDEwOlJlcG9zaXRvcnk3MTI4NDI4Nw==","name":"mongoid-document_path","full_name":"workarea-commerce/mongoid-document_path","private":false,"owner":{"login":"workarea-commerce","id":50744828,"node_id":"MDEyOk9yZ2FuaXphdGlvbjUwNzQ0ODI4","avatar_url":"https://avatars2.githubusercontent.com/u/50744828?v=4","gravatar_id":"","url":"https://api.github.com/users/workarea-commerce","html_url":"https://github.com/workarea-commerce","followers_url":"https://api.github.com/users[...]
- request:
    method: get
    uri: https://api.github.com/organizations/50744828/repos?page=2&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token REDACTED
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '[...]
